@model Sismog.Models.Login;

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Login";
}
<form asp-action="Login" class="row g-3">
    <h1 class="h3 mb-3 fw-normal">Insira as Credenciais</h1>

    <div class="form-floating">
        <input type="text" class="form-control" asp-for="UserName" placeholder="Login" required/>
        <label>Login</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" asp-for="Senha" placeholder="Password" required/>
        <label>Senha</label>
    </div>
    <div class="text-danger">
        <div asp-validation-summary="All" class="validation-summary-errors"></div>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Conectar</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2025 - 2025</p>
</form>