@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo <b>@User.Identity.Name.ToUpper()</b> !</h1>
    <p>Vinde a mim, todos os que estão cansados e oprimidos, e eu vos aliviarei. Mt 11:28</p>
</div>
